.link {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  transition: 0.1s ease-in-out;
}
.link:hover {
  text-decoration: none;
  color: rgba(7, 75, 153, 0.886);
}

h2 {
  margin-left: 10px;
}
