form {
  margin: 30px;
}
input {
  width: 400px;
  height: 27px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px rgba(190, 190, 190, 1);
}
input:focus {
  outline: none;
  border: 1px solid rgba(39, 67, 146, 0.795);
  box-shadow: 0px 0px 2px 0px rgba(190, 190, 190, 1);
  background-color: rgb(255, 255, 255);
  color: black;
}

.link {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  transition: 0.1s ease-in-out;
}
.date {
  font-size: 16px;
  color: rgb(85, 85, 85);
  margin-bottom: 20px;
}

.listEl:hover {
  color: rgba(7, 75, 153, 0.886);
  & .date {
    color: rgba(7, 75, 153, 0.886);
  }
}

.movieList {
  margin-top: 20px;
}
